.page-title {
    margin: 15px;
    font-size: 24px;
}
.table-container {

}
.table-container table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 8px;
}
.table-container th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5794af;
    color: white;
}
.table-container img{
    max-height: 100px;
}
.table-container tr:hover {background-color: #ddd;}
.table-container tr:nth-child(even){background-color: #f2f2f2;}

