{% extends "base.html" %}

{% block title %}История распознаваний{% endblock %}
{% set active_page = "detected_employees" %}

{% block content %}
    <div class="page-title">История распознаваний</div>
    <div class="table-container">
        <table>
            <tr>
                <th>#</th>
                <th>Дата</th>
                <th>Фото</th>
                <th>Предполагаемый сотрудник</th>
                <th>Точность</th>
            </tr>
            {% for employee in detected_employees %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ employee[0] }}</td>
                    <td><img src="{{ url_for('static',filename='data/detection_photos/' + employee[1]) }}" alt=""></td>
                    <td>{{ employee[2] }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}