{% extends "base.html" %}

{% block title %}Список сотрудников{% endblock %}
{% set active_page = "registered_employees" %}

{% block content %}
    <div class="page-title">Список сотрудников</div>
    <div class="table-container">
        <table>
            <tr>
                <th>#</th>
                <th>Имя</th>
                <th>Должность</th>
                <th>Фото</th>
                <th>Дата создания</th>
            </tr>
            {% for employee in employees %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ employee[0] }}</td>
                    <td>{{ employee[1] }}</td>
                    <td><img src="{{ url_for('static',filename='data/photos/' + employee[2]) }}" alt=""></td>
                    <td>{{ employee[3] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}