{% extends "base.html" %}

{% block title %}Загрузка сотрудника{% endblock %}
{% set active_page = "upload_employee" %}

{% block content %}
    <div class="page-title">Загрузка сотрудника</div>
    <div class="form-container">
        <form method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Имя</label>
                    <input type="text" class="form-control" id="name" placeholder="Имя сотрудника" name="name">
                </div>
                <div class="form-group col-md-6">
                    <label for="position">Должность</label>
                    <input type="text" class="form-control" id="position" placeholder="Должность сотрудника"
                           name="position">
                </div>
            </div>
            <div class="form-group">
                <label for="photo">Фото</label>
                <input type="file" class="form-control-file" id="photo" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Загрузить</button>
        </form>
    </div>
{% endblock %}